Repository discreetlogcontracts/dlcspecs, pull requests merged in 2020-11, with the labels that each got.

#55 oracle proposal
  Messaging.md
  Oracle.md
Labels: oracle

#87 Add Non-Interactive Protocol
  Non-Interactive-Protocol.md
Labels: blockchain, fees, security

#112 Tuesday November 10 2020 Meeting
  meeting/README.md
  meeting/meeting_november_10_2020.md
Labels: meeting
